.jumbotrom {
	background-color: gray;
	color: black;
	margin-top: 55px;
	text-align: center;
}

.btn{

	background-color: black;
}

footer {

	padding: 10px 10px 0 10px;
	background-color: gray;
	margin-bottom: 0px;
	margin-top: 10px;
	color: black;
}


.btn-reserva {
	width: 100%;
	color: #0040FF;
	border-radius: 0px;
}

.footer-address-icon {
	padding-right: 10px;
}

.tab-content {
	padding-top: 10px;
}

.img-carousel{
	width: 100%; 
	height: 300px;
}