@clrBackgroundEncPie: red;
@clrColorEncPie: green;

@clrbackgroundButton: black;

.margenes(@top, @bottom){
	margin-top: @top;
	margin-botton: @bottom;
}

.jumbotrom {
	background-color: @clrBackgroundEncPie;
	color: @clrColorEncPie;
	.margenes (55px, 0px);
	text-align: center;
}

.btn{
	background-color: @clrbackgroundButton;
}

footer {
	padding: 10px 10px 0 10px;
	background-color: @clrBackgroundEncPie;
	.margenes (10px, 0px);
	color: @clrColorEncPie;
}


.btn-reserva {
	width: 100%;
	color: #0040FF;
	border-radius: 0px;
}

.footer-address-icon {
	padding-right: 10px;
}

.tab-content {
	padding-top: 10px;
}

.img-carousel{
	width: 100%; 
	height: 300px;
}