$clrBackgroundEncPie: red;
$clrColorEncPie: black;

$clrbackgroundButton: grey;

@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-botton: $bottom;
}

.jumbotrom {
	background-color: $clrBackgroundEncPie;
	color: $clrColorEncPie;
	@include margenes (55px, 0px);
	text-align: center;
}

.btn{
	background-color: $clrbackgroundButton;
	color: $clrColorEncPie;
}

footer {
	padding: 10px 10px 0 10px;
	background-color: $clrBackgroundEncPie;
	@include margenes (10px, 0px);
	color: $clrColorEncPie;
}


.btn-reserva {
	width: 100%;
	color: $clrColorEncPie;
	border-radius: 0px;
}

.footer-address-icon {
	padding-right: 10px;
}

.tab-content {
	padding-top: 10px;
}

.img-carousel{
	width: 100%; 
	height: 300px;
}