.jumbotrom {
  background-color: red;
  color: black;
  margin-top: 55px;
  margin-botton: 0px;
  text-align: center; }

.btn {
  background-color: grey;
  color: black; }

footer {
  padding: 10px 10px 0 10px;
  background-color: red;
  margin-top: 10px;
  margin-botton: 0px;
  color: black; }

.btn-reserva {
  width: 100%;
  color: black;
  border-radius: 0px; }

.footer-address-icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 10px; }

.img-carousel {
  width: 100%;
  height: 300px; }
